body {
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.toggle-container {
    display: flex;
    background-color: #333;
    border-radius: 25px;
    overflow: hidden;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0;
}

.toggle-button:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.toggle-button:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.toggle-button.active {
    background-color: #912A27;
    color: #FFF;
}

.toggle-button:not(.active):hover {
    background-color: #444;
}
