body {
    margin: 0px;

}

.container {
    width: 380px;
    height: 100%;
    padding-bottom: 80px;
    background-color: rgb(207, 10, 10);
}

.cabecalho {
    background-color: black;
    text-align: center;

}

.cabecalho img {
    width: 129px;
}

.menuInferior {
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 380px;
    background-color: white;
}

.menuInferior a {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menuInferior p {
    margin-top: 1px;
    margin-bottom: 0;
}

.menuInferior img {
    width: 28px;
    height: 28px;
    

}

.menuInferior div {
    margin: 7px;
    margin-right: 27px;
}

