body {
    margin: 0px;

}

.container {
    width: 360px;
    height: 800px;
    background-color: rgb(207, 10, 10);
}

.cabecalho {
    background-color: yellow;
    text-align: center;

}

.cabecalho img {
    width: 129px;
    height: 100px;
}