body {
    margin: 0px;

}

.container {
    text-align: center;
    width: 390px;
    height: 844px;
    padding-bottom: 80px;
    background-color: rgb(207, 10, 10) ;
}


.cabecalho {
    background-color: black;
    text-align: center;

}

.cabecalho img {
    width: 129px;
}

.sombraVermelha {
    display: flex;
    flex-direction: column;
    margin: auto; 
    border-radius: 15px;
    margin-top: 20px;
    background-color: #921A1A;
    width: 350px;
    height: 611px;
}

form {
    display: flex;
    flex-direction: column;

}

#input-nome {
    margin: 15px 15px 7px;
    border-radius: 5px;
    border: 1px;
    padding: 8px;
}

#input-nome input {
    text-align: center;
}

.tipoJogador {
    margin: 0px 15px;
    display: flex;
    gap: 5px;
}

.inputOpcao {
    display: none;
}

.labelOpcao {
    display: inline-block;
    font-family: "poppins", sans-serif;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 54px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    transition: background-color 0.3s;
}

.inputOpcao:checked + .labelOpcao {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;


}

.adcJogador {
    margin: 7px 15px 30px;
    padding: 8px;
    font-family: "poppins", sans-serif;
    background-color: #038803;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
/*.sombraVermelha h1 {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 15px;
    border-radius: 5px;
}*/

.conteudo {
    height: 100%;
    margin: 15px;
    margin-top: 0px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.jogador {
    display: flex;
    background-color: #8553511c;
    margin: 10px 10px 0px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;

}

.nomeJogador p, .convocar, .excluir {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px;
}

.convocar {
    font-size: 12px;
    border: 1px solid;
    background-color: #017501;
    color: white;
}

.excluir {
    font-size: 12px;
    background-color: black;
    color: white;
    border: 1px solid;

}

.menuInferior {
    border-top: 1px solid #ccc;
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 390px;
    background-color: white;
}

.menuInferior a {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menuInferior p {
    margin-top: 1px;
    margin-bottom: 0;
}

.menuInferior img {
    width: 28px;
    height: 28px;
    

}

.menuInferior div {
    margin: 7px;
    margin-right: 27px;
}

