body {
    margin: 0px;
    background: #912A27;

}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-color: #1D1D1D;
    padding: 0px;
    padding-bottom: 100px;
    border-top-left-radius:15px;
    border-top-right-radius:15px ;


}


.cabecalho {
    text-align: center;

}

.cabecalho img {
    width: 89px;
    height: 74px;
}

.bloco-geral {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-top-left-radius:15px;
    border-top-right-radius:15px ;
}

.novoJogadorForm h1 {
    color: white;
    font-size: 24px;
    font-family: 'poppins';
    text-align: left;
    margin: 15px ;
}

.novoJogadorForm, form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 672px;
}


.tipo-jogador {
    display: flex;
    border-radius: 15px;
    margin: 0px 15px 10px;
    overflow: hidden;
}

.tipo-jogador input[type="radio"] {
    display: none;
}

.tipo-jogador-label {
    flex: 1;
    text-align: center;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;

    padding: 6px;
    cursor: pointer;
    color: #fff;
}

.tipo-jogador input[type="radio"]:checked + .tipo-jogador-label {
    background: #912A27;
}

.tipo-jogador input[type="radio"]:not(:checked) + .tipo-jogador-label {
    background: #393939;
}


#input-nome {
    background-color: #393939;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 14px;
    margin: 10px 15px;
}

#input-nome::placeholder {
    color: white ;
    font-size: 16px;
}


.botaoadcJogador {
    margin: 10px 15px 30px;
    padding: 6px;
    font-family: "poppins", sans-serif;
    background-color: #912A27   ;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.bloco-lista {
    max-width: 672px;
}
.lista-linha, .lista-goleiros {
    margin: 30px 15px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #393939;
}

.lista-linha h2, .lista-goleiros h2 {
    font-family: "poppins", sans-serif;
    color: white;
    font-size: 18px;
    font-weight:bold;
    margin: 10px auto 0px;
}

.jogador {
    display: flex;
    background-color: #1D1D1D;
    margin: 10px 10px 0px;
    border-radius: 5px;
    justify-content: space-between;
}

.jogador:last-child {
    margin-bottom: 20px;

}

.nomeJogador p{
    font-family: "poppins", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-left: 10px;
}

.botoes {
    display: flex;
    padding: 5px 0px;
}

.convocar, .excluir {
    font-weight: bold;
    border-radius: 10px;
    margin: 5px 10px 5px 0px;
    font-family: "poppins", sans-serif;
    font-size: 12px;
    border: none;
    background-color: #912A27   ;
    color: white;
    cursor: pointer;
}

.excluir {
    background-color: #393939  ;
}

.menu-inferior {
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    background-color: #393939 ;
    border-radius: 15px;
    justify-content: space-between;
}

.menu-inferior p  {
    margin-top: 1px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    font-family: 'poppins';
    font-weight: bold;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.menu-inferior img {
    width: 38px;
    height: 38px;
}

.menu-inferior div {
    margin: 8px;
    border-radius: 10px;
    padding: 5px;
}

.link-jogadores {
    background-color:#912A27;
}


@media (min-width: 672px) {

    .bloco-geral {
        align-items: center;
        
    }

    .novoJogadorForm h1 {
        align-self: flex-start;
    }


    .bloco-lista {
        display: flex;
        align-items: start;
        width: 100%;
    }

    .lista-linha, .lista-goleiros {
        width: 100%;
    }
 }

 @media (min-width: 900px) {
    #input-nome {
        padding: 18px;
    }
    .bloco-geral {
        padding-top: 100px;
    }
    form {
        width:900px;
    }
    .container {
        position: relative;
    }
    .menu-inferior {
        display: flex;
        height:60px;
        position: absolute;
        top: 0; /* Mesma posição que a primeira div */
    }
    .menu-inferior a{
        font-size: 18px;
        text-align: justify;
    }
    .menu-inferior img {
        display: none;
    }
 }