body {
    margin: 0px;

}

.container-principal {
    text-align: center;
    min-width: 390px;
    min-height: 844px;
    padding-bottom: 80px;
    background-color: #420404;
}


.cabecalho {
    background-color: rgb(207, 10, 10) ;
    text-align: center;

}

.cabecalho img {
    width: 95px;
    height: 75px;
}

.partida-aovivo{
    margin: 35px 10px;
    padding-bottom: 10px;
    background-color: rgb(207, 10, 10) ;
    border-radius: 10px;

}

.descricao-aovivo {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: 'poppins';
    font-size: 14px;
    color: white;
}

.divref-timeplacar-aovivo{
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid;
    border-color: #3f161631;

}

.time-casa-aovivo img {
    width: 60px;
    height: 60px;
}

.time-casa-aovivo p {
    margin: 10px;
    margin-top: 0px;
    font-family: 'poppins';
    font-size: 16px;
    color: white;

}

.placar-casa-aovivo p{
    font-family: 'poppins';
    font-size: 38px;
    color: white;
    margin: 0px 10px 15px;

}

.divisor-x-aovivo p {
    font-family: 'poppins';
    font-size: 24px;
    color: white;
    margin: 10px 16px  ;

}

.exibir-autor-gol {
    display: flex;
    justify-content: space-between;
    margin: 10px ;
    font-family: 'poppins';
    font-size: 12px;
    color: white;
}

.exibir-autor-gol p {
    margin: 0px;
}

.menuInferior {
    border-top: 1px solid #ccc;
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 390px;
    background-color: white;
}

.menuInferior a {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menuInferior p {
    margin-top: 1px;
    margin-bottom: 0;
}

.menuInferior img {
    width: 28px;
    height: 28px;
    

}

.menuInferior div {
    margin: 7px;
    margin-right: 27px;
}

