body {
    margin: 0px;

}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 390px;
    height: 844px;
    padding-bottom: 80px;
    background-color: rgb(207, 10, 10) ;
}


.cabecalho {
    background-color: black;
    text-align: center;

}

.cabecalho img {
    width: 95px;
    height: 75px;
}



.milan {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    margin: 10px;
    margin-top: 30px;
    border: 1px solid;
    border-color: #cf2c2c57;
    border-radius: 5px;
    gap: 0px;
}

.milan-esquerdo img{
    width: 190px;
    height: 100%;  
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.milan-direito{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;


}

.milan-direito-superior{
    display: flex;
}
.milan-direito-superior img {
    margin-top: 5px;
    height: 70px;

}

.milan-direito-superior p{
    font-size: 18px;
    color: white;
    font-family: roboto;
    font-weight: bold;
    margin: 30px 0px 0px 3px;
}

.milan-direito-inferior {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 12px;


}
.milan-direito-inferior p{
    color: white;
    font-family: roboto;
    font-weight: bold;
    font-size: 14px;
    margin : 0px;
}


.menuInferior {
    border-top: 1px solid #ccc;
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 390px;
    background-color: white;
}

.menuInferior a {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menuInferior p {
    margin-top: 1px;
    margin-bottom: 0;
}

.menuInferior img {
    width: 28px;
    height: 28px;
    

}

.menuInferior div {
    margin: 7px;
    margin-right: 27px;
}

